* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  color: #7d7987;

  font-size: 1.6rem;

  text-align: center;
}

.page {
  max-width: 60rem;
  padding: 0 3rem;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 7.2rem;
}

main img {
  width: 100%;
  max-width: 34.8rem;
  margin-bottom: 7.2rem;
}

main h1 {
  color: #000;

  max-width: 56rem;
  
  margin-bottom: 3.2rem;

  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 4.9rem;
  line-height: 5.6rem;
}

main h1 span {
  font-weight: bold;
  color: #ff9900;
}

main p,
#footer {
  max-width: 59rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

main p + p {
  margin-top: 3rem;
}

main span,
a {
  color: #ff9900;
  text-decoration: none;
}

footer {
  gap: 2rem;
  margin-bottom: 3.3rem;
}

footer .line {
  height: 0;

  max-width: 57rem;

  border: 1px solid #eceff2;
  margin-bottom: 0.8rem;
}

footer a {
  font-size: 1.4rem;
  line-height: 2.8rem;
}

footer a + a {
  margin-left: 2rem;
}

.balls {
  display: none;
}

@media (min-width: 775px) {
  .balls {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
